**ü§ù Grupo 14:** Karina Barrientos - Lucas Brown - Vincent Bustamante

## üêº **Pandas Zoo**

El contexto de an√°lisis de datos que elegimos fue el de **visitas a un zool√≥gico**. Para ello, crearemos cinco datasets en los que almacenaremos la siguiente informaci√≥n:

- **Entradas vendidas**
- **H√°bitats disponibles para visitar**
- **Shows disponibles para visitar**
- **Relaci√≥n entre entradas vendidas y visitas a h√°bitats**, incluyendo el nivel de satisfacci√≥n de dichas visitas
- **Relaci√≥n entre entradas vendidas y visitas a shows**, tambi√©n con sus respectivos niveles de satisfacci√≥n

Elegimos este contexto por el **potencial de an√°lisis** que ofrece, ya que estos centros reciben grandes cantidades de personas. Identificar las **preferencias del p√∫blico** permitir√≠a **aumentar las ganancias** del zool√≥gico, al manejar la oferta de servicios de acuerdo a estas.

## üìä **Preguntas de investigaci√≥n**

- ¬øQu√© d√≠as de la semana hay una mayor frecuencia de visitantes seg√∫n cada rango etario?
- ¬øEn qu√© meses hay una mayor frecuencia de visitantes?
- ¬øExiste alguna relaci√≥n entre el tipo de ambiente de cada h√°bitat y la frecuencia de visitas?
- ¬øLa duraci√≥n de los shows afecta la preferencia de los diferentes rangos etarios?
- ¬øEn qu√© horario se concentra la mayor cantidad de visitas?
- ¬øLa presencia de comercios en los h√°bitats afecta la satisfacci√≥n de los visitantes?
- ¬øLa posibilidad de consumir alimentos dentro de los h√°bitats influye en la cantidad de visitas?
- ¬øExiste una correlaci√≥n entre el porcentaje de cupos ocupados en los shows y el nivel de satisfacci√≥n de los visitantes?
- ¬øExiste una correlaci√≥n entre el tipo de entrada (VIP) y el nivel de satisfacci√≥n de los visitantes?
- ¬øLa adquisici√≥n de entradas VIP se relaciona con la asistencia a shows?
- ¬øExiste una correlaci√≥n entre la cantidad de especies en un h√°bitat y el n√∫mero de visitas anuales?

### **Importando todas las librer√≠as utilizadas**

In [1]:
import random
import os
import pandas as pd
import numpy as np
import time
from datetime import datetime, timedelta
import seaborn as sb
import matplotlib.pyplot as plt

ModuleNotFoundError: No module named 'seaborn'

### **Generando Datasets**

In [121]:
# Carpeta donde se guardar√°n todos los DataFrames generados
carpeta_destino = 'zoo_dataset'

# Porcentaje de nulos que se introducir√°n programaticamente a cada columna
# de todos los datasets
porcentaje_nulos_general = 0.07

In [122]:
# Funci√≥n para guardar los DataFrames en archivos csv
def guardar_dataset(frame, nombre_archivo_csv):
    if not os.path.exists(carpeta_destino):
        os.makedirs(carpeta_destino)
        
    nombre_archivo_csv = os.path.join(carpeta_destino, nombre_archivo_csv)
    frame.to_csv(nombre_archivo_csv, encoding="utf-8", na_rep='NULL', index=False)

In [123]:
# --- Funci√≥n para introducir nulos ---
def introducir_nulos(data_array, porcentaje_nulos):
    """Introduce un porcentaje de valores NaN en una copia del array."""
    if pd.api.types.is_integer_dtype(data_array) and not pd.api.types.is_bool_dtype(data_array):  # No convertir booleanos a float
        data_array_con_nulos = data_array.astype(float)
    else:
        data_array_con_nulos = np.array(data_array, dtype=object)

    num_nulos = int(len(data_array_con_nulos) * porcentaje_nulos)
    if num_nulos > 0:  # Solo si hay nulos que introducir
        indices_nulos = np.random.choice(len(data_array_con_nulos), size=num_nulos, replace=False)
        data_array_con_nulos[indices_nulos] = np.nan
    return data_array_con_nulos

üéüÔ∏è **Dataset de Entradas Vendidas**

In [124]:
# Funci√≥n para generar fechas aleatorias
def fecha_random(inicio, fin, formato, prop):
    tiempo_i = time.mktime(time.strptime(inicio, formato))
    tiempo_f = time.mktime(time.strptime(fin, formato))

    tiempo_p = tiempo_i + prop * (tiempo_i - tiempo_f)

    return time.strftime(formato, time.localtime(tiempo_p))


# Funci√≥n que devuelve el d√≠a de la semana de una fecha dada
def dia_semana(fecha):
    dias = ["Lunes", "Martes", "Mi√©rcoles", "Jueves", "Viernes", "S√°bado", "Domingo"]
    fecha_dt = datetime.strptime(fecha, "%d/%m/%Y")
    return dias[fecha_dt.weekday()]


# Funci√≥n para generar horas aleatorias
def hora_random():
    hora_inicio = datetime.strptime("09:30", "%H:%M")
    hora_fin = datetime.strptime("17:30", "%H:%M")
    delta = hora_fin - hora_inicio
    segundos_random = random.random() * delta.total_seconds()
    hora_generada = hora_inicio + timedelta(seconds=segundos_random)
    return hora_generada

# Creando diccionario de ventas de entradas
diccionario_ventas = {"VIP": [], "rango_etario": [], "fecha": [], "d√≠a_semana": [], "hora_ingreso": []}


# Rellenando diccionario de ventas de entradas
for _ in range(600):
    definir_nulo = random.randint(1, 400)
    fecha = ""
    if definir_nulo in range(1, 41):
        diccionario_ventas["VIP"].append(None)
    else:
        diccionario_ventas["VIP"].append(random.choice([True, False]))
    if definir_nulo in range(41, 81):
        diccionario_ventas["rango_etario"].append(None)
    else:
        diccionario_ventas["rango_etario"].append(random.choice(["Ni√±o", "Adulto", "Adulto Mayor"]))
    if definir_nulo in range(81, 121):
        diccionario_ventas["fecha"].append(None)
    else:
        fecha = fecha_random("01/01/2025", "20/05/2025", "%d/%m/%Y", random.random())
        diccionario_ventas["fecha"].append(fecha)
    if definir_nulo in range(121, 161) or fecha == "":
        diccionario_ventas["d√≠a_semana"].append(None)
    else:
        diccionario_ventas["d√≠a_semana"].append(dia_semana(fecha))
    if definir_nulo in range(161, 201):
        diccionario_ventas["hora_ingreso"].append(None)
    else:
        diccionario_ventas["hora_ingreso"].append(hora_random().strftime("%H:%M"))

# Creando DataFrame a partir del diccionario de ventas de entradas
frame = pd.DataFrame(diccionario_ventas, columns=diccionario_ventas.keys())
frame.index.name = "ID_entrada"

# Guardando el DataFrame en archivo CSV
if not os.path.exists(carpeta_destino):
    os.makedirs(carpeta_destino)
        
nombre_archivo_csv = os.path.join(carpeta_destino, 'entradas_zoo_sucio_generado.csv')
frame.to_csv(nombre_archivo_csv, encoding="utf-8", na_rep='NULL')

üèûÔ∏è **Dataset de H√°bitats**

In [125]:
# Datos necesarios para generar DataFrame
total_habitats = 18

habitat_ids = [
    "H001", "H002", "H003", "H004", "H005", "H006", "H007", "H008",
    "H009", "H010", "H011", "H012", "H013", "H014", "H015", "H016",
    "H017", "H018"
]

nombres_habitats = [
    "Selva Tropical",
    "Sabana Dorada",
    "Caverna de los Murci√©lagos",
    "Pantano Misterioso",
    "Bosque Templado",
    "Rinc√≥n de los Reptiles",
    "Altas Cumbres",
    "Mares Profundos",
    "Isla de los Primates",
    "Valle del Tigre",
    "Estepa Salvaje",
    "Refugio del Panda",
    "Jard√≠n de las Mariposas",
    "Desierto Rojo",
    "Granja Interactiva",
    "La Ant√°rtida Viva",
    "Bosque de Koalas",
    "Zona Nocturna"
]

tipos_ambientes = [
    "Cerrado", "Abierto", "Mixto"
]

# Generando combinaciones aleatorias de datos para cada columna
cantidad_especies = np.random.randint(1, 5, size=total_habitats)

ambientes = np.random.choice(tipos_ambientes, size=total_habitats)

permite_alimentos = np.random.choice([True, False], size=total_habitats)

comercio = np.random.choice([True, False], size=total_habitats)

aforo = np.random.randint(30, 50, size=total_habitats)

# Se decidi√≥ no agregar nulos a esta tabla debido a que es muy peque√±a

# Agregando nulos a cada columna
# nombres_habitats_con_nulos = introducir_nulos(nombres_habitats, porcentaje_nulos_general)
# cantidad_especies_con_nulos = introducir_nulos(cantidad_especies, porcentaje_nulos_general)
# tipo_ambiente_con_nulos = introducir_nulos(ambientes, porcentaje_nulos_general)
# permite_alimentos_con_nulos = introducir_nulos(permite_alimentos, porcentaje_nulos_general)
# comercio_con_nulos = introducir_nulos(comercio, porcentaje_nulos_general)
# aforo_con_nulos = introducir_nulos(aforo, porcentaje_nulos_general)

# Creando DataFrame a partir de los datos generados
habitats = pd.DataFrame({
    'ID_habitat': habitat_ids,
    'nombre_habitat': nombres_habitats,
    'cantidad_especies': cantidad_especies,
    'tipo_ambiente': ambientes,
    'permite_alimentos': permite_alimentos,
    'comercio': comercio,
    'aforo': aforo
})

# Guardando DataFrame en archivo CSV
guardar_dataset(habitats, 'habitats_generado.csv')

ü¶Å **Dataset de Shows**

In [ ]:
# Datos necesarios para generar DataFrame
total_shows = 18

shows_ids = [
    "S001", "S002", "S003", "S004", "S005", "S006", "S007", "S008",
    "S009", "S010", "S011", "S012", "S013", "S014", "S015", "S016",
    "S017", "S018"
]

nombres_shows = [
    "Aventuras Salvajes",
    "El Rugido de la Selva",
    "Vuelo Majestuoso",
    "Guardianes del Reino Animal",
    "Entre Garras y Plumas",
    "Reptiles al Descubierto",
    "Safari Sonoro",
    "Zooluminaci√≥n Nocturna",
    "Amigos del Pantano",
    "Gigantes de la Sabana",
    "Baile de las Aves",
    "Peque√±os Exploradores",
    "Magia Marina",
    "Caminata con Canguros",
    "El Misterio del Amazonas",
    "Bestias del Crep√∫sculo",
    "Manada en Movimiento",
    "Historias del Zoo"
]

tipos_ambientes = [
    "Cerrado", "Abierto", "Mixto"
]

# Generando combinaciones aleatorias de datos para cada columna
cupos_totales = np.random.randint(30, 51, size=total_shows)

cupos_ocupados = np.array([np.random.randint(0, total + 1) for total in cupos_totales])

ambientes = np.random.choice(tipos_ambientes, size=total_shows)

duracion = np.random.randint(30, 121, size=total_shows)

# Se decidi√≥ no agregar nulos a esta tabla debido a que es muy peque√±a

# Agregar nulos a cada columna
# nombres_shows_con_nulos = introducir_nulos(nombres_shows, porcentaje_nulos_general)
# cupos_totales_con_nulos = introducir_nulos(cupos_totales, porcentaje_nulos_general)
# cupos_ocupados_con_nulos = introducir_nulos(cupos_ocupados, porcentaje_nulos_general)
# ambientes_con_nulos = introducir_nulos(ambientes, porcentaje_nulos_general)
# duracion_con_nulos = introducir_nulos(duracion, porcentaje_nulos_general)

# Creando DataFrame a partir de los datos generados
shows = pd.DataFrame({
    'ID_show': shows_ids,
    'nombre_show': nombres_shows,
    'cupos_totales': cupos_totales,
    'cupos_ocupados': cupos_ocupados,
    'tipo_ambiente': ambientes,
    'duracion': duracion
})

# Guardando DataFrame en archivo CSV
guardar_dataset(shows, "shows_generado.csv")

üîóü¶ì **Dataset: Relaci√≥n entre Entradas y H√°bitats Visitados**

In [127]:
# Este es el total de filas que tendr√° esta tabla
total_visitas_habitats = 800

# Este es el rango de IDs en el que se generaron las entradas.
# Debido a que el foco en este √≠tem del proyecto es generar datos sint√©ticos,
# se consider√≥ conveniente no leer las tablas generadas anteriormente para 
# obtener los IDs, sino simplemente usar el mismo rango num√©rico.
min_id_entrada = 0
max_id_entrada = 599

# Definir las probabilidades de selecci√≥n para cada h√°bitat
habitat_probabilities = [
    0.05, 0.12, 0.08, 0.03, 0.06, 0.04, 0.05, 0.04,
    0.03, 0.02, 0.07, 0.03, 0.02, 0.10, 0.03, 0.04,
    0.04, 0.15
]


# Validar que la suma de las probabilidades sea igual a 1.0
if not np.isclose(sum(habitat_probabilities), 1.0):
    raise ValueError(f"La suma de las probabilidades de los h√°bitats debe ser 1.0. Suma actual: {sum(habitat_probabilities)}")

# Validar que la cantidad de IDs coincida con la cantidad de probabilidades
if len(habitat_ids) != len(habitat_probabilities):
    raise ValueError("La cantidad de IDs de h√°bitat debe coincidir con la cantidad de probabilidades.")


# Generar combinaciones aleatorias de datos para cada columna
id_habitat_lista_original = np.random.choice(
    habitat_ids,
    size=total_visitas_habitats,
    p=habitat_probabilities
)
id_entrada_lista_original = np.random.randint(min_id_entrada, max_id_entrada + 1, size=total_visitas_habitats)
satisfaccion_lista_original = np.random.randint(1, 6, size=total_visitas_habitats)

# Agregar nulos a cada columna
id_habitat_con_nulos = introducir_nulos(id_habitat_lista_original, porcentaje_nulos_general)
id_entrada_con_nulos = introducir_nulos(id_entrada_lista_original, porcentaje_nulos_general)
satisfaccion_con_nulos = introducir_nulos(satisfaccion_lista_original, porcentaje_nulos_general)


# Crear DataFrame a partir de los datos generados
df_visitas_habitats = pd.DataFrame({
    'ID_entrada': id_entrada_con_nulos,
    'ID_habitat': id_habitat_con_nulos,
    'satisfaccion': satisfaccion_con_nulos
})

# Ordenar por ID_entrada (Pandas por defecto pone los NULL al final al ordenar)
df_visitas_habitats = df_visitas_habitats.sort_values(by='ID_entrada').reset_index(drop=True)

# Guardar DataFrame en archivo CSV
guardar_dataset(df_visitas_habitats, "visitas_habitats_sucio_generado.csv")

üîóü¶≠ **Dataset: Relaci√≥n entre Entradas y Shows Visitados**

In [128]:
total_visitas_shows = 800

# Generar combinaciones aleatorias de datos para cada columna
id_shows_lista_original = np.random.choice(
    shows_ids,
    size=total_visitas_shows,
)
id_entrada_lista_original = np.random.randint(min_id_entrada, max_id_entrada + 1, size=total_visitas_shows)
satisfaccion_lista_original = np.random.randint(1, 6, size=total_visitas_shows)

# Agregar nulos a cada columna
id_shows_con_nulos = introducir_nulos(id_shows_lista_original, porcentaje_nulos_general)
id_entrada_con_nulos = introducir_nulos(id_entrada_lista_original, porcentaje_nulos_general)
satisfaccion_con_nulos = introducir_nulos(satisfaccion_lista_original, porcentaje_nulos_general)


# Crear DataFrame a partir de los datos generados
df_visitas_shows = pd.DataFrame({
    'ID_entrada': id_entrada_con_nulos,
    'ID_show': id_shows_con_nulos,
    'satisfaccion': satisfaccion_con_nulos
})

# Ordenar por ID_entrada (Pandas por defecto pone los NULL al final al ordenar)
df_visitas_shows = df_visitas_shows.sort_values(by='ID_entrada').reset_index(drop=True)

# Guardar DataFrame en archivo CSV
guardar_dataset(df_visitas_shows, 'visitas_shows_sucio_generado.csv')

### **Limpieza de datasets**

In [129]:
# Comenzamos limpiando la tabla de entidad que se encuentra en 
# entradas_zoo_sucio_generado.csv y obtenemos una lista con los
# √≠ndices que se eliminan para luego eliminarlos de las tablas
# de relaci√≥n

# Rutas a los archivos CSV
ruta_entradas = os.path.join('zoo_dataset', 'entradas_zoo_sucio_generado.csv')
ruta_visitas_habitats = os.path.join('zoo_dataset', 'visitas_habitats_sucio_generado.csv')
ruta_visitas_shows = os.path.join('zoo_dataset', 'visitas_shows_sucio_generado.csv')

# Leer archivos CSV
entradas = pd.read_csv(ruta_entradas)
visitas_habitats = pd.read_csv(ruta_visitas_habitats)
visitas_shows = pd.read_csv(ruta_visitas_shows)

In [130]:
# Usamos la funci√≥n info para obtener m√°s detalles acerca de los valores NaN existentes
entradas.info()
visitas_habitats.info()
visitas_shows.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 600 entries, 0 to 599
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID_entrada    600 non-null    int64
 1   VIP           547 non-null    object
 2   rango_etario  548 non-null    object
 3   fecha         528 non-null    object
 4   d√≠a_semana    454 non-null    object
 5   hora_ingreso  524 non-null    object
dtypes: int64(1), object(5)
memory usage: 28.2+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID_entrada    744 non-null    float64
 1   ID_habitat    744 non-null    object
 2   satisfaccion  744 non-null    float64
dtypes: float64(2), object(1)
memory usage: 18.9+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 800 entries, 0 to 799
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ID_entrada    744 non-null    float64
 1   ID_show       744 non-null    object
 2   satisfaccion  744 non-null    float64
dtypes: float64(2), object(1)
memory usage: 18.9+ KB

In [131]:
#Revisamos que filas contienen NaN y hacemos una lista de 
# sus √≠ndices

# Filas con NaN
filas_con_nan = entradas[entradas.isna().any(axis=1)]

# IDs de esas filas
ids_entradas_eliminadas = filas_con_nan['ID_entrada'].tolist()

# Eliminamos todos los NaN en el DataFrame de entradas y generamos 
# una copia del DataFrame el cual guardamos en la variable 
# entradas_sin_NaN sin modificar el DataFrame original

# DataFrame limpio
entradas_sin_NaN = entradas.dropna()

print("IDs eliminados:", ids_entradas_eliminadas)
display(entradas_sin_NaN)

IDs eliminados: [0, 1, 5, 6, 12, 14, 16, 19, 20, 21, 23, 24, 25, 26, 28, 29, 34, 40, 43, 44, 45, 46, 47, 48, 49, 50, 52, 53, 55, 56, 58, 59, 60, 62, 64, 65, 66, 67, 69, 70, 73, 75, 76, 77, 78, 80, 83, 84, 85, 87, 90, 91, 92, 93, 95, 97, 98, 101, 105, 110, 113, 117, 119, 121, 122, 123, 126, 127, 131, 133, 134, 136, 138, 143, 144, 145, 146, 147, 149, 151, 155, 156, 163, 165, 166, 168, 169, 171, 172, 173, 175, 178, 181, 182, 183, 184, 187, 188, 192, 193, 198, 199, 200, 203, 204, 208, 211, 212, 213, 215, 216, 219, 220, 222, 223, 224, 227, 228, 229, 230, 233, 235, 236, 237, 238, 239, 241, 243, 244, 246, 247, 249, 250, 251, 252, 255, 257, 258, 259, 261, 262, 267, 269, 270, 271, 272, 273, 277, 278, 280, 281, 284, 288, 291, 295, 297, 298, 299, 300, 303, 304, 305, 306, 307, 308, 309, 311, 313, 314, 315, 316, 320, 321, 322, 325, 326, 329, 330, 331, 332, 333, 336, 339, 340, 343, 344, 345, 347, 350, 353, 354, 355, 356, 357, 359, 361, 362, 363, 364, 366, 368, 369, 370, 374, 375, 380, 381, 383, 384, 387, 389, 390, 392, 394, 396, 397, 399, 405, 406, 408, 409, 411, 415, 416, 418, 420, 424, 425, 426, 427, 429, 432, 433, 435, 436, 437, 439, 440, 442, 443, 445, 446, 448, 450, 452, 456, 457, 458, 459, 464, 466, 467, 469, 470, 473, 478, 480, 481, 482, 484, 485, 486, 490, 491, 494, 495, 496, 497, 498, 499, 501, 502, 506, 507, 510, 512, 514, 516, 517, 520, 522, 523, 524, 525, 527, 528, 529, 531, 534, 535, 536, 538, 542, 543, 544, 545, 546, 547, 548, 549, 551, 554, 556, 558, 559, 560, 562, 563, 565, 566, 568, 569, 572, 575, 577, 579, 581, 585, 586, 589, 590, 592, 593, 594, 596, 597, 598]

     ID_entrada    VIP  rango_etario       fecha d√≠a_semana hora_ingreso
2             2   True          Ni√±o  27/08/2024     Martes        14:27
3             3   True  Adulto Mayor  25/12/2024  Mi√©rcoles        16:39
4             4   True  Adulto Mayor  01/12/2024    Domingo        11:52
7             7   True  Adulto Mayor  20/09/2024    Viernes        11:54
8             8   True  Adulto Mayor  04/10/2024    Viernes        09:48
..          ...    ...           ...         ...        ...          ...
587         587  False        Adulto  03/12/2024     Martes        10:57
588         588  False  Adulto Mayor  02/09/2024      Lunes        13:55
591         591   True  Adulto Mayor  17/11/2024    Domingo        15:24
595         595  False  Adulto Mayor  28/10/2024      Lunes        11:36
599         599   True          Ni√±o  30/11/2024     S√°bado        14:24

[273 rows x 6 columns]

In [132]:
# Eliminamos todas las filas que contienen claves foraneas
# que ya no existen sus respectivas claves primarias
visitas_habitats_sin_ids_eliminados = visitas_habitats[~visitas_habitats['ID_entrada'].isin(ids_entradas_eliminadas)]
visitas_shows_sin_ids_eliminados = visitas_shows[~visitas_shows['ID_entrada'].isin(ids_entradas_eliminadas)]

display(visitas_habitats_sin_ids_eliminados)
display(visitas_shows_sin_ids_eliminados)

     ID_entrada ID_habitat  satisfaccion
2           2.0       H018           4.0
3           3.0       H018           1.0
4           3.0       H001           4.0
5           4.0       H018           4.0
6           4.0       H013           1.0
..          ...        ...           ...
795         NaN       H016           3.0
796         NaN       H011           3.0
797         NaN       H006           3.0
798         NaN       H018           4.0
799         NaN        NaN           2.0

[406 rows x 3 columns]

     ID_entrada ID_show  satisfaccion
3           2.0    S014           3.0
4           2.0    S015           4.0
5           8.0    S017           2.0
6          10.0    S015           4.0
7          11.0    S004           2.0
..          ...     ...           ...
795         NaN    S013           4.0
796         NaN    S009           4.0
797         NaN    S006           4.0
798         NaN    S016           5.0
799         NaN    S002           3.0

[394 rows x 3 columns]

In [133]:
# Limpiamos los DataFrames de visitas a h√°bitats y visitas a shows
# En este caso solo eliminamos las filas que contengan NaN en las 
# columnas de IDs, debido a que si la columna de satisfacci√≥n contiene NaN
# se asume que el visitante no contest√≥ la encuesta y esto tambi√©n 
# se considera informaci√≥n
visitas_habitats_limpio = visitas_habitats_sin_ids_eliminados.dropna(subset=['ID_entrada','ID_habitat'])
visitas_shows_limpio = visitas_shows_sin_ids_eliminados.dropna(subset=['ID_entrada','ID_show'])

display(visitas_habitats_limpio)
display(visitas_shows_limpio)

     ID_entrada ID_habitat  satisfaccion
2           2.0       H018           4.0
3           3.0       H018           1.0
4           3.0       H001           4.0
5           4.0       H018           4.0
6           4.0       H013           1.0
..          ...        ...           ...
727       588.0       H002           3.0
728       588.0       H016           5.0
732       591.0       H003           4.0
739       595.0       H007           3.0
743       599.0       H014           1.0

[333 rows x 3 columns]

     ID_entrada ID_show  satisfaccion
3           2.0    S014           3.0
4           2.0    S015           4.0
5           8.0    S017           2.0
6          10.0    S015           4.0
7          11.0    S004           2.0
..          ...     ...           ...
733       587.0    S002           5.0
735       591.0    S003           5.0
736       591.0    S018           1.0
737       591.0    S015           1.0
743       599.0    S013           2.0

[318 rows x 3 columns]

In [134]:
# Guardamos los datasets limpios

guardar_dataset(entradas_sin_NaN, 'entradas_zoo_limpio.csv')
guardar_dataset(visitas_habitats_limpio, 'visitas_habitats_limpio.csv')
guardar_dataset(visitas_shows_limpio, 'visitas_shows_limpio.csv')

# **üì∂ Vizualizaci√≥n de Datos**

Seaborn

In [1]:
# Primero se cargan los datasets desde archivos CSV utilizando pandas:
entradas = pd.read_csv("./zoo_dataset/entradas_zoo_limpio.csv", encoding="utf-8")
habitats = pd.read_csv("./zoo_dataset/habitats_generado.csv", encoding="utf-8")
entradas_habitats = pd.read_csv("./zoo_dataset/visitas_habitats_limpio.csv", encoding="utf-8")
entradas_shows = pd.read_csv("./zoo_dataset/visitas_shows_limpio.csv", encoding="utf-8")
shows = pd.read_csv("./zoo_dataset/shows_generado.csv", encoding="utf-8")

NameError: name 'pd' is not defined

In [ ]:
# Responder pregunta 1: ¬øQu√© d√≠as de la semana hay una mayor frecuencia de visitantes seg√∫n cada rango etario?
def generar_grafico_1(dataframe, rango_etario_arg):
    entradas_filtradas = dataframe[dataframe["rango_etario"] == rango_etario_arg]
    entradas_dias = entradas_filtradas["d√≠a_semana"].value_counts().reset_index()

    plt.figure()
    sb.barplot(x="d√≠a_semana", y="count", data=entradas_dias)
    plt.title(f"Frecuencia de entradas de {rango_etario_arg} por d√≠a de la semana")
    plt.xlabel("D√≠a de la semana")
    plt.ylabel("Cantidad")


rango_etarios = ["Adulto", "Ni√±o", "Adulto Mayor"]
for edad in rango_etarios:
    generar_grafico_1(entradas, edad)

plt.show()

In [ ]:
# Pregunta 2: ¬øEn qu√© meses hay una mayor frecuencia de visitantes?
entradas_fecha = entradas["fecha"].str.split("/", expand=True)
entradas_fecha.columns = ["d√≠a", "mes", "a√±o"]
conteo_mes = entradas_fecha["mes"].value_counts().reset_index()

meses_orden = {
    "01": "Enero", "02": "Febrero", "03": "Marzo", "04": "Abril",
    "05": "Mayo", "06": "Junio", "07": "Julio", "08": "Agosto",
    "09": "Septiembre", "10": "Octubre", "11": "Noviembre", "12": "Diciembre"
}

conteo_mes["mes_nombre"] = conteo_mes["mes"].map(meses_orden)
conteo_mes["mes_num"] = conteo_mes["mes"].astype(int)
conteo_mes = conteo_mes.sort_values("mes_num")

plt.figure()
sb.lineplot(x="mes_nombre", y="count", data=conteo_mes, marker="o")
plt.title("Visitas por mes")
plt.xlabel("Mes")
plt.ylabel("N¬∞ de Visitantes")

plt.show()

In [ ]:
# Pregunta 3: ¬øExiste alguna relaci√≥n entre el tipo de ambiente de cada h√°bitat y la frecuencia de visitas?
left_join_entradas_habitats = pd.merge(entradas_habitats, habitats, how="left", on="ID_habitat")

print(habitats[["nombre_habitat", "tipo_ambiente"]])  # Cambiar a display en notebook

tipo_habitats = habitats[["nombre_habitat", "tipo_ambiente"]]

conteo_tipo_habitats = tipo_habitats["tipo_ambiente"].value_counts().reset_index()

print(conteo_tipo_habitats)

plt.figure()
plt.pie(conteo_tipo_habitats["count"], labels=conteo_tipo_habitats["tipo_ambiente"], autopct='%.0f%%')
plt.title("Distribuci√≥n porcentual seg√∫n tipo de h√°bitat")

conteo_tipo_habitats_entradas = left_join_entradas_habitats["nombre_habitat"].value_counts().reset_index()
plt.figure()
sb.barplot(x="count", y="nombre_habitat", data=conteo_tipo_habitats_entradas)
plt.title("N¬∞ de visitas en cada h√°bitat")
plt.xlabel("N¬∞ de visitantes")
plt.ylabel("Nombre h√°bitats")
plt.tight_layout()

conteo_entradas = left_join_entradas_habitats["tipo_ambiente"].value_counts().reset_index()

print(left_join_entradas_habitats)

print(left_join_entradas_habitats["tipo_ambiente"].value_counts().reset_index())

plt.figure()
sb.barplot(x="tipo_ambiente", y="count", data=conteo_entradas)
plt.title("N√∫mero de visitante por tipo de ambiente")
plt.xlabel("Tipo de ambiente")
plt.ylabel("N¬∞ de visitantes seg√∫n tipo de ambiente")

plt.show()

In [ ]:
# Pregunta 4: ¬øLa duraci√≥n de los shows afecta la preferencia de los diferentes rangos etarios?
left_join_entradas_shows = pd.merge(entradas_shows, shows, how="left", on="ID_show")

left_join_entradas_shows_rango_etario = pd.merge(left_join_entradas_shows, entradas[["ID_entrada", "rango_etario"]], how="left", on="ID_entrada")

print(left_join_entradas_shows_rango_etario["rango_etario"].unique())

for rango in left_join_entradas_shows_rango_etario["rango_etario"].unique():
    filtro_edad_actual = left_join_entradas_shows_rango_etario[left_join_entradas_shows_rango_etario["rango_etario"] == rango]
    asistencia_segun_duracion = filtro_edad_actual["duracion"].value_counts().reset_index().sort_values(by="duracion")
    plt.figure()
    sb.barplot(x="duracion", y="count", data=asistencia_segun_duracion)
    plt.title(f"Frecuencia de asistencia a shows de {rango} seg√∫n su duraci√≥n")
    plt.xlabel("Duraci√≥n del show (minutos)")
    plt.ylabel(f"N¬∞ de asistentes {rango}")
    plt.tight_layout()

plt.show()

In [ ]:
# Pregunta 5: ¬øEn qu√© horario se concentra la mayor cantidad de visitas?
def hora_a_minutos(hora_str):
    try:
        t = datetime.strptime(hora_str, "%H:%M")
        return t.hour + t.minute / 60
    except:
        return None


entradas["hora_decimal"] = entradas["hora_ingreso"].apply(hora_a_minutos)

plt.figure()
sb.histplot(data=entradas, x="hora_decimal", bins=16, kde=False)
plt.title("Distribuci√≥n de visitas por horario")
plt.xlabel("Hora del d√≠a (en formato decimal)")
plt.ylabel("Cantidad de visitas")
plt.xticks(ticks=range(9, 18), labels=[f"{h}:00" for h in range(9, 18)])
plt.tight_layout()

plt.show()

In [ ]:
# Pregunta 6: ¬øLa presencia de comercios en los h√°bitats afecta la satisfacci√≥n de los visitantes?
for comercio in left_join_entradas_habitats["comercio"].unique():
    filtro_comercio = left_join_entradas_habitats[left_join_entradas_habitats["comercio"] == comercio]
    conteo_satisfaccion = filtro_comercio["satisfaccion"].value_counts().reset_index()
    plt.figure()
    plt.pie(conteo_satisfaccion["count"], labels=conteo_satisfaccion["satisfaccion"], autopct='%.0f%%')
    titulo_comercio = "SI" if comercio else "NO"
    plt.title(f"Satisfacci√≥n (1 a 5) de visitantes cuando {titulo_comercio} hay comercio")

plt.show()

In [ ]:
# Pregunta 7: ¬øLa posibilidad de consumir alimentos dentro de los h√°bitats influye en la cantidad de visitas?
print("\n--- Pregunta 7 ---")
left_join_entradas_habitats['permite_alimentos_str'] = left_join_entradas_habitats['permite_alimentos'].astype(str)

visitas_por_permiso_alimentos = left_join_entradas_habitats.groupby("permite_alimentos_str")["ID_entrada"].count().reset_index()
visitas_por_permiso_alimentos.columns = ["permite_alimentos", "cantidad_visitas"]

visitas_por_permiso_alimentos["permite_alimentos_label"] = visitas_por_permiso_alimentos["permite_alimentos"].map({
    'True': 'S√≠ Permite Alimentos',
    'False': 'No Permite Alimentos',
    'nan': 'No Especificado',
    'true': 'S√≠ Permite Alimentos',
    'false': 'No Permite Alimentos'
})


plt.figure()
sb.barplot(x="permite_alimentos_label", y="cantidad_visitas", data=visitas_por_permiso_alimentos)
plt.title("Cantidad de visitas seg√∫n si el h√°bitat permite alimentos")
plt.xlabel("¬øPermite consumir alimentos en el h√°bitat?")
plt.ylabel("Cantidad de Visitas")
plt.tight_layout()
print(visitas_por_permiso_alimentos[["permite_alimentos_label", "cantidad_visitas"]])

plt.show()

In [ ]:
# Pregunta 8: ¬øExiste una correlaci√≥n entre el porcentaje de cupos ocupados en los shows y el nivel de satisfacci√≥n de los visitantes?
print("\n--- Pregunta 8 ---")
merged_shows_satisfaccion = pd.merge(entradas_shows, shows, on="ID_show", how="left")

# Calcular porcentaje de ocupaci√≥n (with NumPy np.where)
merged_shows_satisfaccion["porcentaje_ocupacion"] = np.where(
    merged_shows_satisfaccion["cupos_totales"] > 0,  # Condici√≥n
    (merged_shows_satisfaccion["cupos_ocupados"] / merged_shows_satisfaccion["cupos_totales"]) * 100,  # Valor si True
    0.0  # Valor si False (o si cupos_totales es 0 o NaN, ya que la condici√≥n sera False)
)

data_q8 = merged_shows_satisfaccion.dropna(subset=['satisfaccion', 'porcentaje_ocupacion'])

plt.figure()
sb.scatterplot(x="porcentaje_ocupacion", y="satisfaccion", data=data_q8, alpha=0.5)
plt.title("Correlaci√≥n: % Ocupaci√≥n Show vs Satisfacci√≥n del Visitante")
plt.xlabel("Porcentaje de Ocupaci√≥n del Show (%)")
plt.ylabel("Nivel de Satisfacci√≥n (1-5)")
plt.tight_layout()

correlation_q8 = data_q8["porcentaje_ocupacion"].corr(data_q8["satisfaccion"])
print(f"Correlaci√≥n entre porcentaje de ocupaci√≥n y satisfacci√≥n: {correlation_q8:.2f}")

plt.show()

In [ ]:
# Pregunta 9: ¬øExiste una correlaci√≥n entre el tipo de entrada (VIP) y el nivel de satisfacci√≥n de los visitantes?
print("\n--- Pregunta 9 ---")
merged_vip_satisfaccion_habitat = pd.merge(entradas_habitats, entradas[['ID_entrada', 'VIP']], on="ID_entrada", how="left")

# Convertir VIP a num√©rico para correlaci√≥n (ej: True/1, False/0)
# Esto maneja booleanos, strings 'Si'/'No', 'True'/'False', y num√©ricos 0/1
if merged_vip_satisfaccion_habitat['VIP'].dtype == 'bool':
    merged_vip_satisfaccion_habitat['VIP_numeric'] = merged_vip_satisfaccion_habitat['VIP'].astype(int)
else:  # Si no es booleano, convierte a string para mapeo consistente
    merged_vip_satisfaccion_habitat['VIP_str'] = merged_vip_satisfaccion_habitat['VIP'].astype(str).str.lower()
    vip_map = {'true': 1, 'false': 0, 'si': 1, 'no': 0, '1': 1, '0': 0, '1.0': 1, '0.0': 0}
    merged_vip_satisfaccion_habitat['VIP_numeric'] = merged_vip_satisfaccion_habitat['VIP_str'].map(vip_map)

data_q9 = merged_vip_satisfaccion_habitat.dropna(subset=['satisfaccion', 'VIP_numeric'])

plt.figure()
sb.boxplot(x="VIP", y="satisfaccion", data=data_q9)  # Usa la columna VIP original para etiquetas del boxplot
plt.title("Nivel de Satisfacci√≥n en H√°bitats seg√∫n Tipo de Entrada (VIP)")
plt.xlabel("Tipo de Entrada VIP")
plt.ylabel("Nivel de Satisfacci√≥n (1-5)")
plt.tight_layout()

correlation_q9 = data_q9["VIP_numeric"].corr(data_q9["satisfaccion"])
print(f"Correlaci√≥n (punto biserial) entre entrada VIP y satisfacci√≥n en h√°bitats: {correlation_q9:.2f}")

plt.show()

In [ ]:
# Pregunta 10: ¬øLa adquisici√≥n de entradas VIP se relaciona con la asistencia a shows?
print("\n--- Pregunta 10 ---")
ids_asistieron_shows = entradas_shows["ID_entrada"].unique()
entradas_con_asistencia = entradas.copy()  # Trabaja sobre una copia
entradas_con_asistencia["asistio_show"] = entradas_con_asistencia["ID_entrada"].isin(ids_asistieron_shows)

contingency_table_q10 = pd.crosstab(entradas_con_asistencia["VIP"], entradas_con_asistencia["asistio_show"])
print("Tabla de contingencia VIP vs Asistencia a Shows:")
print(contingency_table_q10)

contingency_table_q10.plot(kind='bar', stacked=False)
plt.title("Relaci√≥n entre Entrada VIP y Asistencia a Shows")
plt.xlabel("Tipo de Entrada VIP")
plt.ylabel("Cantidad de Entradas")
plt.xticks(rotation=0)
plt.legend(title="Asisti√≥ a Show", labels=["No Asisti√≥", "S√≠ Asisti√≥"])
plt.tight_layout()

plt.show()

In [ ]:
# Pregunta 11: ¬øExiste una correlaci√≥n entre la cantidad de especies en un h√°bitat y el n√∫mero de visitas anuales?
print("\n--- Pregunta 11 ---")
visitas_por_habitat = entradas_habitats.groupby("ID_habitat")["ID_entrada"].count().reset_index()
visitas_por_habitat.rename(columns={"ID_entrada": "numero_visitas"}, inplace=True)

merged_especies_visitas = pd.merge(visitas_por_habitat, habitats[["ID_habitat", "cantidad_especies", "nombre_habitat"]], on="ID_habitat", how="left")

data_q11 = merged_especies_visitas.dropna(subset=['numero_visitas', 'cantidad_especies'])

plt.figure()
sb.scatterplot(x="cantidad_especies", y="numero_visitas", data=data_q11, hue="nombre_habitat", legend=False, alpha=0.7)
plt.title("Correlaci√≥n: Cantidad de Especies en H√°bitat vs. N√∫mero de Visitas")
plt.xlabel("Cantidad de Especies")
plt.ylabel("N√∫mero de Visitas Anuales al H√°bitat")
plt.tight_layout()

correlation_q11 = data_q11["cantidad_especies"].corr(data_q11["numero_visitas"])
print(f"Correlaci√≥n entre cantidad de especies y n√∫mero de visitas: {correlation_q11:.2f}")
print("\nDatos usados para el gr√°fico de Q11 (especies vs visitas):")
print(data_q11[["nombre_habitat", "cantidad_especies", "numero_visitas"]])

plt.show()